table.hovertable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
	margin: 4px;
}
table.hovertable th {
	background-color:#c3dde0;
	border-width: 1px;
	padding: 4px;
	border-style: solid;
	border-color: #a9c6c9;
}
table.hovertable tr {
	background-color:#d4e3e5;
}

table.hovertable tbody tr:hover {
	background-color:#c3dde0;
}

table.hovertable td {
	border-width: 1px;
	padding: 4px;
	border-style: solid;
	border-color: #a9c6c9;
	font-size:9px;
}

table.hovertable input{
    height: 25px;
    border-radius: 4px;
    padding: 4px 12px;
    margin: 0 2 0 3;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    border: none;
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
}

table.hovertable select{
    height: 25px;
    border-radius: 4px;
    vertical-align: middle;
    border: none;
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    margin: 0 0 0 0;
}

A {
	cursor: pointer;
}
IMG {
	cursor: pointer;
}

table.navigatetable {
	width: 100%;
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
	margin: 0px;
}

table.navigatetable  {
	height: 25px;
    
}

table.navigatetable label {
	clear: both;
	display: inline;
	font-weight: bold;
	font-family: verdana,arial,sans-serif;
	font-size:12px;
}

table.hovertable label {
	clear: both;
	font-weight: bold;
	font-family: verdana,arial,sans-serif;
	font-size:12px;
}

table.navigatetable select {
	height: 25px;
	font-size:12px;
	width: 60px;
	
	//float:left;
}

.filter_fieldset{
    border:1px solid #999999;
    background-color: #c3dde0;
    margin: 5;
    padding: 1;
    
}

.filter_legend{
	display:inline;
	width:70px;
	padding:0 0 0 10;
	margin: 5px;
	font-size:15px;
	line-height:20px;
	color:#333;
	border:none;
}
.autocomplete-suggestions { border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; } 


